# Python cache
__pycache__/
*.py[cod]

# Virtual environment
myenv/
.venv/
venv/

# Environment variables / secrets
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

myenv/
__pycache__/
.env
*.db
*.sqlite
*.sqlite3